<ion-content id="container">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="Updating PokeList..."></ion-refresher-content>
  </ion-refresher>  
  <ion-list>
    @for (pokemon of pokemons(); track pokemon.id; let index = $index) {
      <ion-item class="ion-center">
        <ion-avatar slot="start">
          <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemon.id + '.png'" alt="avatar" />
        </ion-avatar>
        <ion-label><a [routerLink]="['/pokemon', pokemon.id]">{{ pokemon.name | titlecase }}</a></ion-label>
      </ion-item>
    }
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingText="Cargando más pokemons..."
      loadingSpinner="crescent"  
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>